ol{
    counter-reset:list;
}   
.filtered-list{
    counter-increment: list;
    cursor: pointer;
    user-select: none;

}
.filtered-list:before{
    content: counter(list) ;
    margin-left: 0;
    position: relative;
    left: 0;
}
button{
    user-select: none;  
}
.show{
    display: flex;
}
.hide{
    display: none;
}