@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #66bfbf;
  accent-color: #ff0063;
  transition: all 0.2s ease;
  font-family: "Roboto", sans-serif;
}
:root {
  --light-blue: hsl(180, 30%, 50%);
  --dark-blue: hsl(180, 20%, 57%);
  --dark-pink: #ff0063;
  --white: #fff;
  --grey: #000;
  --silver: #e5e5e5;
  --black: #000;
}
.show{
  display: flex;
}