.dropdown:hover .dropdown-menu {
    display: block;
  }
  .required:after{
    content: '*' ;
    color: red;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input:disabled {
  background-color: #e2e8f0;
}